{% extends 'base.html' %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock extrastyle %}

{% block title %} Password Reset Done {% endblock title %}


{% block content %}

{% include 'partials/navbar.html' %}

<div class="my-1 my-md-5 py-5"></div>

<div class="text-center mb-5">
    <p class="h1"><strong>Password Reset Done </strong> </p>
    <br>
    <p class="h4 col-12 col-md-6 mx-auto"> 
      We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.
  </p>
  <br>
   <p class="h4 col-12 col-md-6 mx-auto"> 
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
  
</div>

<div class="py-5"></div>

{% endblock content %}

