{% extends 'base.html' %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock extrastyle %}

{% block title %} Password Reset Complete {% endblock title %}




{% block content %}

{% include 'partials/navbar.html' %}

<div class="my-1 my-md-5 py-5"></div>

<div class="text-center mb-5">
    <p class="h1"><strong>Password Reset Complete</strong> </p>
    <br>
    <p class="h4 col-12 col-md-6 mx-auto"> Your password has been set. You may go ahead and <a href="{% url 'users:login' %}">login</a> now.
</p>
  
</div>


<div class="py-5"></div>

{% endblock content %}

