{% extends 'base.html' %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock extrastyle %}

{% block title %} Password Reset {% endblock title %}


{% block content %}

{% include 'partials/navbar.html' %}

<div class="my-1 my-md-5 py-5"></div>

<div class="text-center mb-5">
    <p class="h1"><strong>Password Reset</strong> </p>
    <p class="h4 col-12 col-md-6 mx-auto"> Kindly use the email address attached to your account to reset your 
    password</p>
  
</div>

<form class="auth login-form border mx-auto bg-white" method="post">
        {% csrf_token %}
  
    <div class="form-group">
         {{ form.as_p }}
    </div>
    <br>
    <button class="signup btn btn-primary w-100 mb-2" type="submit">Submit</button>
   
</form>

<div class="py-5"></div>

{% endblock content %}
