{% extends 'base.html' %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock extrastyle %}

{% block title %} Change password {% endblock title %}


{% block content %}

{% include 'partials/navbar.html' %}

<div class="my-1 my-md-6 py-5"></div>


 {% if validlink %}

<div class="text-center mb-5">
    <p class="h1"><strong>Change password</strong> </p>
    <br>
    <p class="h4 col-12 col-md-6 mx-auto"> Add a new password</p>
  
</div>

<form class="auth login-form border mx-auto bg-white" method="post">
        {% csrf_token %}
  
    <div class="form-group">
         {{ form.as_p }}
    </div>
    <br>
    <button class="signup btn btn-primary w-100 mb-2" type="submit">Submit</button>
   
</form>

{% else %}
  
    <div class="text-center mb-5">
    <p class="h3 col-12 col-md-6 mx-auto"> The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
      </p>
  
    </div>
  {% endif %}

<div class="py-5"></div>

{% endblock content %}
