{% extends 'users/emails/base.html' %}


{% block greeting %}
	Hi {{user.first_name}},
{% endblock %}

{% block paragraph_one %}
	<p>
		To initiate the password reset process for your Westan Account,
        please click the link below:
	</p>
{% endblock %}

{% block paragraph_two %}
	 
{% endblock %}

{% block call_to_action %}

	<a style="background-color:#31BFBF;border:2px solid #31BFBF;border-radius:2px;color:#ffffff;white-space:nowrap;font-weight:bold;display:block;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:36px;text-align:center;text-decoration:none;padding:10px 0;border-radius: 4px;width: 200px"
	href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
	target="_blank">
		Reset Password
	</a>
		
{% endblock %}