<!-- Navbar -->
{% load static %}
<nav
    class="container navbar navbar-expand-lg fixed-top navbar-light bg-white border-bottom d-block d-md-none box-shadow-sm">
    <a class="navbar-brand" href="{% url 'listings:index' %}">
        <img src="{% static 'img/logo.svg' %}" alt="Westan Logo" srcset="">
    </a>
    <button class="navbar-toggler border-0 float-right pt-3" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto text-center">
           {% if user.is_client %}
            <li class="nav-item">
                <a class="nav-link {% if 'dashboard/client' in request.path %} active {% elif 'dashboard/marketer' in request.path %} active {% endif %} " href="{% url 'users:client_dashboard' %}">
                   Client Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            {% endif %}
            {% if user.is_marketer %}
            <li class="nav-item">
                <a class="nav-link {% if 'dashboard/client' in request.path %} active {% elif 'dashboard/marketer' in request.path %} active {% endif %} " href="{% url 'users:marketer_dashboard' %}">
                   Marketer Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            {% endif %}
            <li class="nav-item {% if 'dashboard/profile' in request.path %} active {% endif %} ">
                <a class="nav-link" href="{% url 'users:profile' %}">
                    My Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'dashboard/properties' in request.path %} active {% endif %}"  href="{% if "client" in request.path %} {% url 'listings:dashboard_client_properties' %} {% else %} {% url 'listings:dashboard_marketer_properties' %}  {% endif %} ">
                    Properties
                </a>
            </li>
            <li class="nav-item {% if 'dashboard/wishlist' in request.path %} active {% endif %}">
                <a class="nav-link" href="{% url 'listings:dashboard_wishlist' %}">
                    Wishlist
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">
                    Logout
                </a>
            </li>
        </ul>


    </div>
</nav>