{% extends 'base.html' %}

{% load static %}

{% block extrastyle %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock extrastyle %}

{% block title %} Dashboard - Wishlist {% endblock title %}



{% block content %}


<body class="container-fluid">
    <div class="header">
        <!-- Navbar -->
    {% include 'partials/dashboard_navbar.html' %}
    </div>

    <div class="row">
        <!-- Sidebar -->
         {% include 'partials/dashboard_sidebar.html' %}
        <!-- Sidebar ends -->


        <!-- Main content -->
        <main role="main" class="col-md h-100 overflow-aut p-4">
            <div class="py-5 d-block d-md-none"></div>

            <!-- Heading and Filters -->
            <div class="row mb-3 mb-md-4 d-flex align-items-end">
                <h3 class="col font-weight-bold text-center text-md-left mb-4 mb-md-0">Wish List</h3>
                <div class="col-auto d-non d-md-flex align-items-center">
                    
                    <a href="{% url 'listings:listings' %}" class="col-auto d-none d-md-block btn bg-orange text-white px-4 ml-3">Go to Listings</a>
                </div>

            </div>


            <div class="row">
                <div class="col">
                    

                    <!-- Properties -->
                    <div class="card border-0 shadow-sm mb-4">
                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table table-centered nowrap table-hover mb-0 dtr-inline collapsed">
                                    <thead>
                                        <tr class="border-bottom">
                                            <th class="text-muted border-0 py-2 order-0 font-weight-normal">Property
                                            </th>
                                            <th class="text-muted border-0 py-2 font-weight-normal d-none d-md-block">
                                               <span class="">Details</span></th>
                                            <th class="text-muted border-0 py-2 font-weight-normal ">
                                                <span class="d-none d-md-block">Address</span></th>
                                            <th class="text-muted border-0 py-2 font-weight-normal"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for wish in wishes %}
                                        {% with wish.listing as listing %}
                                        <tr>
                                            <td class="border-0 text-nowrap">
                                                <img src="{{ listing.image.url }}" class="rounded img-responsive mr-2"
                                                    height="30" width="30" alt="">
                                                {{ listing.title }}
                                            </td>
                                            <td class="border-0 pt-3 text-muted d-none d-md-block">
                                                <span class="">{{listing.bedrooms}} Rooms, {{listing.bathrooms}} Baths, {{listing.garage}} Garage, {{listing.area}}m<sup>2</sup></span> 
                                            </td>
                                            <td class="border-0 pt-3 text-muted">
                                                <span class="d-none d-md-block">{{ listing.get_address }}</span> 
                                            </td>
                                            <td class="border-0 pt-3">
                                                <a href="{% url 'listings:single_listing' listing.id listing.slug %}" class="btn btn-sm bg-orange text-white px-3">
                                                    View <span class="d-none d-md-inline">Details</span> 
                                                </a>
                                            </td>
                                        </tr>
                                            {% endwith %}
                                        {% endfor %}
                                        


                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive-->
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->

                </div> <!-- end col-->

                
            </div>
        </main>
    </div>


</body>

{% endblock content %}
