{% extends 'base.html' %}

{% load static humanize %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

  <style>
      .masthead h1 {
        max-width: 950px;
        font-size: 36px;
      }
      .modal .modal-content {
        background-color: #F9FEFF !important;
        border: 0;
      }
      .modal {
        padding: 0 !important;
      }
      .modal .modal-body form select {
        background-color: #ffffff !important;
        border-color: #73738d88 !important;
      }
      .apply-filters {
        background-color: #FC8210 !important;
        color: #ffffff !important;
        font-weight: bold;
      }
      .clear-filters {
        background-color: #F0E5E5 !important;
        color: #FC8210 !important;
      }
    </style>

</style>
{% endblock extrastyle %}

{% block title %} Search Listings - {% endblock title %}



{% block content %}

<!-- Dont remove this-->
<header class=""> 


{% include 'partials/navbar.html' %}
  
  <br> <br>
      <!-- Hero -->
          <section class="masthead container">
            <div class="col-md-12">
                <h2 class="col-md-12 mb-5 mx-auto text-center">
                  <strong>
                     {% with listings.paginator.count as total_results %}
                      Found {{ total_results }} result{{ total_results|pluralize }}
                    {% endwith %}
                  </strong>
                </h2>
              <div class="col-md-12 col-lg-9 mx-auto">
                <form action="{% url 'listings:search' %}" method='GET'>
                  <div class="form-row">
                    <div class="col-12 col-md-6 mb-2 mb-md-0 py-2" style="background-color: #EBF5F7;" >
                      <input type="text" name='q' value='{{ values.q }}' class="form-control form-control-lg bg-transparent border-0 pl-4 py-2" placeholder="Search property locations...">
                    </div>
                   
                    <div class="col-12 col-md-3 mb-2 mb-md-0 py-2 border-left" style="background-color: #EBF5F7;">
                      <select class="custom-select custom-select-lg bg-transparent border-0" name='type' placeholder="Enter your email...">
                        <option value="">Select Type</option>
                        <option {% if values.type == "0" %} selected {% endif %} value="0">House</option>
							          <option {% if values.type == "1" %} selected {% endif %} value="1">Land</option>
                      </select>
                    </div>
                    <div class="col-12 col-md-3">
                      <button type="submit" class="btn btn-block btn-lg text-white w-100 py-3">Search</button>
                    </div>
                  </div>
                </form>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-light mt-3 " data-toggle="modal" data-target="#exampleModal">
                  <img src="{% static 'img/filter.svg' %}" alt="instagram link" class="mr-2">Additional Filters
                </button>

                <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body bg-light rounded-lg">
                        <form class="p-5" action="{% url 'listings:search' %}" method='GET'>
                          <p class="text-center h4 mb-3 mb-md-5"><strong>Filters</strong> </p>
                          
                            <div class="form-row">
                           
                              <div class="col-md-6 mb-4">
                                 <label for="noBathrooms">Search property locations</label>
                                <input class="form-control bg-white" name='q' type="text" value='{{ values.q }}' placeholder="Search property locations" aria-label="Search">
                              </div>

                              <div class="col-md-6 mb-3">
                                <label for="noRooms">Type</label>
                                <select name='type' class="custom-select" id="noRooms">
                                  <option value="0">House</option>
                                  <option value="1">Land</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-row">
                            
                               <div class="col-md-6 mb-4">
                                <label for="noBathrooms">Number of Bedrooms</label>
                                <select name='bedrooms' class="custom-select" id="noBathrooms">
                                  <option value="0" disabled selected>Number of Bedrooms</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6+</option>
                                </select>
                              </div>
                              
                              <div class="col-md-6 mb-3">
                                <label for="noBathrooms">Number of Bathrooms</label>
                                <select name='bathrooms' class="custom-select" id="noBathrooms">
                                  <option value="0" disabled selected>Number of Bathrooms</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6+</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-row">
                              
                              <div class="col-md-3 mb-3">
                                <label for="maxPrice">Price</label>
                                <select name='maxprice' class="custom-select" id="maxPrice">
                                  <option value="0" disabled selected>Max Price</option>
                                  <option value="100000">100,000</option>
                                  <option value="250000">250,000</option>
                                  <option value="500000">500,000</option>
                                  <option value="750000">750,000</option>
                                  <option value="1000000">1 million</option>
                                  <option value="2000000">2 million</option>
                                  <option value="5000000">5 million</option>
                                  <option value="10000000">10 million</option>
                                  <option value="20000000">20 million+</option>
                                </select>
                              </div>
                              <div class="col-md-3 mb-3">
                                <label for="minPrice" class="text-light">State</label>
                                <select name='minprice' class="custom-select" id="minPrice">
                                  <option value="0" disabled selected>Min Price</option>
                                  <option value="100000">100,000</option>
                                  <option value="250000">250,000</option>
                                  <option value="500000">500,000</option>
                                  <option value="750000">750,000</option>
                                  <option value="1000000">1 million</option>
                                  <option value="2000000">2 million</option>
                                  <option value="5000000">5 million</option>
                                  <option value="10000000">10 million</option>
                                  <option value="20000000">20 million+</option>
                                </select>
                              </div> 

                              <div class="col-md-6 mb-4">
                                 <label for="reference">Property Reference</label>
                                <input class="form-control bg-white" name='reference' type="text" placeholder="Get exact property with reference" aria-label="Reference">
                              </div>

                            </div>
                            
                            <div class="form-row">
                              <div class="col-md-6 mb-3">
                                <button class="clear-filters btn btn-primary border-0 rounded w-100" type="button" data-dismiss="modal">Close Filters</button>
                              </div>
                              <div class="col-md-6 mb-3">
                                <button class="apply-filters btn btn-primary border-0 rounded w-100" type="submit">Apply Filters</button>
                              </div>
                              
                            </div>
                          </form>
                          
                            

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </section>

    </header>


    
    <!-- Listings start -->
    <main class=" py-5">
      <div class="container">
        <div class="mb-3 d-flex justify-content-between align-items-center">
          <span class="h4 text-uppercase">search results</span>
          <span class="">
            <span class="mr-2">Sort By</span>
            <div class="btn-group">
              <button type="button" class="btn btn-muted border border-secondary btn-sm dropdown-toggle mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Popularity
              </button>
              <div class="dropdown-menu dropdown-menu-right">
              <a href="{% url 'listings:sort' 'latest' %}"><button class="dropdown-item" type="button">Latest</button></a>
              <a href="{% url 'listings:sort' 'popular' %}"> <button class="dropdown-item" type="button">Popular</button></a>
              </div>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-muted border border-secondary btn-sm dropdown-toggle mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Price
              </button>
              <div class="dropdown-menu dropdown-menu-right">
              <a href="{% url 'listings:sort' 'maxprice' %}"><button class="dropdown-item" type="button">Max Price</button></a>
              <a href="{% url 'listings:sort' 'minprice' %}"> <button class="dropdown-item" type="button">Min Price</button></a>
              </div>
            </div>
          </span>
        </div>



       <!-- Listings -->
        <div class="row">
          
          
        {% for listing in listings %}

          <div class="col-md-4 py-3">
            <div class="card shadow-sm bg-white text-dark text-white" style="min-width: 18rem;">
              <img class="card-img" src="{{ listing.image.url }}" alt="Card image">
              <div class="card-img-overlay d-flex justify-content-between">
                <p></p>
                <h5 class="price rounded text-white"><span>&#8358;</span>{{listing.price|intcomma}}</h5>
              </div>
              <div class="card-body">
                <h4 class="card-title"><strong><a href="{{ listing.get_absolute_url }}" class="stretched-link"></a>{{ listing.title }}</strong></h4>
                <p class="card-text">{{ listing.get_address }}.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted mb-0 d-flex justify-content-between">
                  <span>{{ listing.bedrooms }} Rooms</span>
                  <span>{{ listing.bathrooms }} Baths</span>
                  <span>{{ listing.garage }} Garage</span>
                  <span>{{ listing.area}}m<sup>2</sup></span>
                </small>
              </div>
            </div>
          </div>

           {% empty %}

          <h4 class='mt-5'>Listings matching your search not found</h4>

          {% endfor %}

          
        </div>      <!-- Listings end-->


         <!-- Pagination -->
        {% include 'partials/pagination.html' with posts=listings %}


      </div>
    </main>
    <!-- Listings end -->

  
 
{% include 'partials/footer.html' %}


{% endblock content %}
