{% extends 'base.html' %}

{% load static humanize %}
{% load custom_tags %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lightbox.css' %}">

  <style>
    .sliding-posts h4,
    .sliding-posts p {
      max-width: 600px;
    }
    .bg-shade {background-color: #EBF5F7 !important;}
    .back-btn {color: #FC8210 !important;}
    .main-img {
      max-height: 450px;
      object-fit: cover;
    }
     .location {
      margin-top: -10rem;
    }
    @media (max-width: 767px)  {
      .location {
        margin-top: 3rem;
      }
    }
    @media (max-width: 450px) {
      .main-img {
        height: 160px;
      }
      .option-buttons {
        font-size: 12px;
      }
    }
  </style>
{% endblock extrastyle %}

{% block title %}  {{listing.title}} {% endblock title %}



{% block content %}

{% include 'partials/navbar.html' %}


  <div class=" w-100 border-bottom" style="background-color: #F9FEFF;">

    <div class="container py-3">
      <div class="row my-3 my-md-5">
        <!-- Post carousel -->
        <div id="carouselExampleCaptions" class="col-12 col-md-10 sliding-posts carousel slide" data-ride="carousel">

          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>

            {% if listing.image_1 %}
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            {% endif %}

            {% if listing.image_2 %}
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            {% endif %}

            {% if listing.image_3 %}
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
            {% endif %}

            {% if listing.image_4 %}
            <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
            {% endif %}

          </ol>
          <div class="carousel-inner rounded overflow-hidden bg-dark w-100">
            <a href="{{ listing.image.url }}" data-lightbox="home-images" class="carousel-item active">
              <div>
                <img src="{{ listing.image.url }}" class="d-block w-100" alt="Post image">
                
                <div class="card-img-overlay d-flex justify-content-between">
                  <p></p>
                  <h5 class="price mx-2 mx-md-3 font-weight-bold rounded text-white"><span>&#8358;</span>{{listing.price|intcomma}}</h5>
                </div>
              </div>
            </a>
            {% if listing.image_1 %}
            <a href="{{ listing.image_1.url }}" data-lightbox="home-images" class="carousel-item">
              <div>
                <img src="{{ listing.image_1.url }}" class="d-block w-100" alt="Post image">
                <div class="card-img-overlay d-flex justify-content-between">
                  <p></p>
                  <h5 class="price mx-2 mx-md-3 font-weight-bold rounded text-white"><span>&#8358;</span>{{listing.price|intcomma}}</h5>
                </div>
              </div>
            </a>
            {% endif %}

            {% if listing.image_2 %}
            <a href="{{ listing.image_2.url }}" data-lightbox="home-images" class="carousel-item">
              <div>
                <img src="{{ listing.image_2.url }}" class="d-block w-100" alt="Post image">
                <div class="card-img-overlay d-flex justify-content-between">
                  <p></p>
                  <h5 class="price mx-2 mx-md-3 font-weight-bold rounded text-white"><span>&#8358;</span>{{listing.price|intcomma}}</h5>
                </div>
              </div>
            </a>
            {% endif %}
            
            {% if listing.image_3 %}
            <a href="{{ listing.image_3.url}}" data-lightbox="home-images" class="carousel-item">
              <div>
                <img src="{{ listing.image_3.url}}" class="d-block w-100" alt="Post image">
                <div class="card-img-overlay d-flex justify-content-between">
                  <p></p>
                  <h5 class="price mx-2 mx-md-3 font-weight-bold rounded text-white"><span>&#8358;</span>{{listing.price|intcomma}}</h5>
                </div>
              </div>
            </a>
            {% endif %}

            {% if listing.image_4 %}
            <a href="{{ listing.image_4.url }}" data-lightbox="home-images" class="carousel-item">
              <div>
                <img src="{{ listing.image_4.url }}" class="d-block w-100" alt="Post image">
                <div class="card-img-overlay d-flex justify-content-between">
                  <p></p>
                  <h5 class="price mx-2 mx-md-3 font-weight-bold rounded text-white"><span>&#8358;</span>{{listing.price|intcomma}}</h5>
                </div>
              </div>
            </a>
            {% endif %}

          </div>
        </div>

        <!-- Lightbox Thumbnails -->
        <div class="d-none d-md-block col-md-2 px-0 pr-2 mx-0 thumbs">

            {% if listing.image_1 %}
            <a href="{{ listing.image_1.url }}" data-lightbox="home-images">
              <img src="{{ listing.image_1.url }}" alt="product thumbnails" class="img-fluid mb-3 shadow-sm rounded">
            </a>
            {% endif %}

            {% if listing.image_2 %}
            <a href="{{ listing.image_2.url }}" data-lightbox="home-images">
              <img src="{{ listing.image_2.url }}" alt="product thumbnails" class="img-fluid mb-3 shadow-sm rounded">
            </a>
            {% endif %}

            {% if listing.image_3 %}
            <a href="{{ listing.image_3.url }}" data-lightbox="home-images">
              <img src="{{ listing.image_3.url }}" alt="product thumbnails" class="img-fluid mb-3 shadow-sm rounded">
            </a>
            {% endif %}

            {% if listing.image_4 %}
             <a href="{{ listing.image_4.url }}" data-lightbox="home-images">
              <img src="{{ listing.image_4.url }}" alt="product thumbnails" class="img-fluid shadow-sm rounded">
            </a> 
            {% endif %}

        </div>
      </div>


      <div class="mb-5">
        <div class="d-flex justify-content-between">
          <p class="h2"><strong>{{ listing.title }}</strong> </p>
          <p class="h2 d-none d-md-block font-weight-bold text-orange"><span>&#8358;</span> {{listing.price|intcomma}}</p>
        </div>

        <p class="h5 text-muted">{{ listing.get_address }}.</p>
        <div class="pt-2 d-inline d-flex option-buttons">
          <a href="{% url 'transactions:checkout' %}" class="btn-sm bg-orange text-white rounded px-3 py-2 text-decoration-none">BUY NOW</a hr>
          <button id='save'  class="bg-shade btn btn-sm text-dark rounded font-weight-bold ml-3 px-3 py-2"> {% if wish %} Saved <span> &#129505;</span> {% else %} Save <span> &#9825;</span> {% endif %} </button>
          <button class="bg-shade btn btn-sm text-dark rounded font-weight-bold ml-3 share-btn">
            <img src="{% static 'img/share-2.svg' %}" alt="" srcset="">
          </button>
          <button class="bg-shade btn btn-sm text-dark rounded font-weight-bold ml-3 px-3 py-2">  
         <img class='mr-2' src="{%static 'img/eye.svg' %}" alt=""> {{ listing.views }} view{{ listing.views|pluralize }}
          </button>

          <a href="{% url 'listings:listings' %}"  class="d-none d-md-block back-btn btn-sm border-0 ml-2 px-3 py-2">
            Back to Listings
          </a>
        </div>
      </div>

    </div>

  </div>
  <section>

  <!-- Listing Details -->
  <div class="container my-1 py-5">
    <div class="row">
      <!-- Main details -->
      <div class="col-md-8 w-100">
        <p class="h5 mb-3 font-weight-bold">Property Description</p>
        <p class="text-secondary">{{ listing.description|safe }}</p>
      </div>

       <!-- Sidebar -->
      <div class="col-md-4 mt-5 mt-md-0">

        <ul class="list-group border pb-3">
          <li class="list-group-item text-center h5 font-weight-bold mb-0">
            Property Features
          </li>
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0 py-2 pt-3 px-5">
            Bedrooms
            <span class="text-secondary">{{ listing.bedrooms }}</span>
          </li>
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0 py-2 px-5">
            Bathrooms
            <span class="text-secondary">{{ listing.bathrooms }}</span>
          </li>
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0 py-2 px-5">
            Garage
            <span class="text-secondary">{{ listing.garage }}</span>
          </li>
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0 py-2 px-5">
            Area
            <span class="text-secondary">{{ listing.area }}m<sup>2</sup></span>
          </li>
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0 py-2 px-5">
            Borehole
            <span class="text-secondary">Yes</span>
          </li>
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0 py-2 px-5">
            Fencing
            <span class="text-secondary">Yes</span>
          </li>
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0 py-2 px-5">
            Electricity
            <span class="text-secondary">Yes</span>
          </li>
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0 py-2 px-5">
            Road
            <span class="text-secondary">Yes</span>
          </li>
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0 py-2 px-5">
            Security
            <span class="text-secondary">Yes</span>
          </li>
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0 py-2 px-5">
            Gate
            <span class="text-secondary">Yes</span>
          </li>
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0 py-2 px-5">
            Burglary
            <span class="text-secondary">Yes</span>
          </li>
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0 py-2 px-5">
            Sanitation
            <span class="text-secondary">Yes</span>
          </li>
          <li
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-0 py-2 px-5">
            Sewage
            <span class="text-secondary">Yes</span>
          </li>

        </ul>
      </div>



      <div class="col-md-8 w-100">

        <p class="h5 mb-3 location font-weight-bold">Location</p>
        <div class="card shadow border embed-responsive embed-responsive-16by9">
          {% comment %} <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d195601.04562769792!2d-75.11803295!3d40.002497999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1401521095201"
            width="100%" height="100%" frameborder="0" style="border:0"></iframe> {% endcomment %}

             {{form.media}}
             <hr>
              {{form.as_p}}
        </div>


        <!-- Video/ 360 tab -->
        <div class="my-5 video-tab">
          <div class="">
            <div class="list-group list-group-horizontal-sm" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Video Tour</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">360 Picture</a>
              
            </div>
          </div>
          <div class="mt-5">
            <div class="tab-content" id="nav-tabContent">

              {% if listing.video %}

              <div class="card shadow border embed-responsive embed-responsive-16by9 tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                  
                  <video width="320" height="240" controls>
                    <source src="{{ listing.video.url }}" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                  </video>

                </div>

                {% else %} 
            
                <div class="card shadow border tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                  
                  <div class='p-5 ' > <img width='100%' src=" {% static 'img/logo.svg' %} " alt=""> </div>

                 </div>

                {% endif %}

              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

                {% if listing.vr_image %}

                <div class="card shadow border ">
                  <img width='100%' src="{{ listing.vr_image.url }}">
                </div>

                {% else %}

               <div class='card shadow border p-5'> 
                    <img width='100%' src=" {% static 'img/logo.svg' %} " alt=""> </div>
                </div>
                {% endif %}

              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
    </div>
     

    </div>
  </div>


  <!-- Similar properties -->
  <div class="container pb-5">
    <div class="row">

      <p class="h5 col-12 font-weight-bold">Featured Properties</p>

      <!-- Single card start-->

          {# template tag #}
        {% featured_listings count=3 as featured_listings %}

				{% for listing in featured_listings %}

      <div class="col-md-4 py-3">
        <div class="card shadow-sm bg-white text-dark text-white" style="min-width: 18rem;">
          <img class="card-img" src="{{ listing.image.url }}" alt="Card image">
          <div class="card-img-overlay d-flex justify-content-between">
            <p></p>
            <h5 class="price rounded text-white"><span>&#8358;</span>{{listing.price|intcomma}}</h5>
          </div>
          <div class="card-body">
            <h4 class="card-title"><strong><a href="{{ listing.get_absolute_url }}" class="stretched-link"></a>{{ listing.title }}</strong></h4>
            <p class="card-text">{{ listing.get_address }}.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted mb-0 d-flex justify-content-between">
              <span>{{ listing.bedrooms }} Rooms</span>
              <span>{{ listing.bathrooms }} Baths</span>
              <span>{{ listing.garage }} Garage</span>
              <span>{{ listing.area }}m<sup>2</sup></span>
            </small>
          </div>
        </div>
      </div>

       {% empty %}

         		 <h3>No Featured Listings Yet</h3>

					{% endfor %}

      <!-- Single card end-->
    </div>

  </div>



{% include 'partials/footer.html' %}


<script>
const shareBtn = document.querySelector('.share-btn');

shareBtn.addEventListener('click', () => {
  if (navigator.share) {
    navigator.share({
      title: '{{ listing.title }}',
      text: 'Check out this property on',
      url: window.location.href
    }).then(() => {
      console.log('Thanks for sharing!');
    })
    .catch(err => {
      console.log(`Couldn't share because of`, err.message);
    });
  } else {
    console.log('web share not supported');
  }
});

</script>

{% endblock content %}


{% block javascript %}

  <script src="{% static 'js/lightbox.js' %}"></script>

    <script>

    var $save = $('#save');

      $("#save").click(function () {
     
       $.ajax({
        url: '{% url 'listings:add_wishlist' %}',
        data: {
          'listing_id' : {{ listing.id }}
        },
        dataType: 'json',
      
        success: function (data) {
          if (data.final_status) {
            $("#save").text('');
            $("#save").append("Saved <span> &#129505;</span>");
          }else{
            $("#save").text('');
          $("#save").append("Save <span> &#9825;</span>")
          }
          if (data.auth) {
             alert(data.auth)
          }
        }
      });

      });     
      
      </script>
{% endblock javascript %}

{% comment %} 
Save <span> &#x1f499;</span>

Saved <span> &#x1f49a;</span>
 {% endcomment %}
 