#header {
    height: 50px;
    background: #FC8210;
    color: #fff;
 }
 
 a:focus, a:hover {
    color: #07afaf !important;
 }
 
 a:link, a:visited {
    color: #003333;
 }
 
 div.breadcrumbs {
    background: #31BFBF;
 }
 
 div.breadcrumbs a {
    color: white;
 }
 
 .module h2, .module caption, .inline-group h2 {
    background: #FC8210;
 }
 
 .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #31BFBF;
    color: white;
 }