#header {
    height: 50px;
    background: #a79e02;
    color: black !important;
 }
 
 a:focus, a:hover {
    color: #07afaf !important;
 }
 
 a:link, a:visited {
    color: #003333;
 }
 
 div.breadcrumbs {
    background: black;
 }
 
 div.breadcrumbs a {
    color: white;
 }
 
 .module h2, .module caption, .inline-group h2 {
    background: #e6db14;
    color: black !important;
 }
 
 .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: black;
    color: white;
 }