{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% load custom_tags %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
   <style>
    .post .card img {
      height: 450px;
      object-fit: cover;
      opacity: 0.6;
    }

    .card .price {
    padding: 5px 13px !important;
    background-color: rgba(0, 0, 0, 0.555);
    width: min-content;
    height: min-content;
  }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
{% endblock extrastyle %}

{% block title %} Blog {% endblock title %}




{% block content %}

{% include 'partials/blog_navbar.html' %}



  <main role="main" class="container mt-5">
    <div class="row">
      <!-- blog-main col -->
      <div class="post col-md-9 blog-main">

        <!-- Post Image -->
        <div class="card shadow-sm bg-dark text-white text-white border-0 mb-5" style="min-width: 18rem;">
          <img class="card-img" src="{{ post.image.url }}" alt="Card image">
          <div class="card-img-overlay d-flex flex-column-reverse">
            <div class="px-3">
              
            </div>
          </div>
        </div>

        <!-- Blog post -->
        <div class="blog-post">
              <span class="category mt-auto price rounded text-white bg-danger pb-2 px-2">
              <small class="p-2 font-weight-bold">
               {% for tag in post.tags.all %}
                    <a class='text-reset' href="{% url "blog:posts_by_tag" tag.slug %}"> 
                    {{ tag.name }} {% if not forloop.last %},{% endif %}
                    </a>
                {% endfor %}
              </small>
              </span>
              <h4 class="card-title mt-3 w-100"><strong>{{ post.title }}</strong></h4>
              <p class="card-text">{{ post.author.full_name }}, {{ post.created_at|date }}   <img class='ml-3' src="{%static 'img/eye.svg' %}" alt="">  {{ post.views }} view{{ post.views|pluralize }}</p>

        <hr>
              {{ post.body|safe }}

        </div>

        <!-- /.blog-post -->




        <!-- Comments -->
        <br> <br>

      <!--IMPORTANT, Disqus comments-->
        <div id="disqus_thread"></div>


      </div>
      <!-- /.blog-main -->


      <!-- Blog sidebar -->
      <aside class="col-md-3 blog-sidebar">

        <!-- Similar posts -->
        <div class="my-5 my-md-0">
          <span class="category top-color mt-auto price rounded text-white bg-secondary py-1 pb-2 px-2"><small
            class="p-2 font-weight-bold">Similar Posts </small></span> <br>

        {% for post in similar_posts %}

          <li class="media row my-4">
            <img src="{{ post.image.url }}" class="col-4 mx-0" height="75" alt="Small post">
            <div class="media-body">
              <a href="{{ post.get_absolute_url }}" class="h6 mt-0 mb-1 text-dark">{{ post.title }}</a>
              {{ post.author.full_name}}, {{ post.created_at|date }}
            </div>
          </li>
          {% empty %}
          
            <li class="media row my-3">
            <div class="media-body">
              No similar posts
            </div>
          </li>

          {% endfor %}
          
        </div>





        <!-- Property Cards -->
        <div class="my-5">
          <span class="category top-color mt-auto price rounded text-white py-1 pb-2 px-2"><small
            class="p-2 font-weight-bold">Featured Properties</small></span>

            {# template tag #}
            {% featured_listings as featured_listings %}

            {% for listing in featured_listings %}

          <div class="card shadow-sm bg-white my-4 text-dark text-white" style="min-width: 18rem;">
            <img class="card-img" src="{{ listing.image.url }}" alt="Card image">
            <div class="card-img-overlay d-flex justify-content-between">
              <p></p>
              <h5 class="price rounded text-white"><span>&#8358;</span>{{listing.price|intcomma}}</h5>
            </div>
            <div class="card-body">
              <h4 class="card-title"><strong><a href="{{ listing.get_absolute_url }}" class="stretched-link"></a>{{ listing.title }}</strong></h4>
              <p class="card-text">{{ listing.get_address }}.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted mb-0 d-flex justify-content-between">
                <span>{{ listing.bedrooms }} Rooms</span>
                <span>{{ listing.bathrooms }} Baths</span>
                <span>{{ listing.garage }} Garage </span>
                <span>{{ listing.area }}m<sup>2</sup></span>
              </small>
            </div>
          </div>

          {% endfor %}

        </div> 

      </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

  </main><!-- /.container -->




{% include 'partials/footer.html' %}

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = '{{ request.build_absolute_uri }}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{ post.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};


(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://westan.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
<script id="dsq-count-scr" src="//westan.disqus.com/count.js" async></script>

{% endblock content %}

