{% extends 'base.html' %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
   <style>
        .posts .card img,
        .carousel-item img {
            height: 450px;
            object-fit: cover;
            opacity: 0.6;
        }


      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
{% endblock extrastyle %}

{% block title %} Blog Search Results - {% endblock title %}




{% block content %}

{% include 'partials/blog_navbar.html' %}
    


      <!-- MAin body -->
    <main role="main" class="container my-5">
        <h1 class="results"><strong>Search Results for House Designs</strong></h1>
        <p class="title mb-5 text-secondary">Showing 1 to 18 of 47</p>

        <!-- Posts -->
        <div class="posts row mb-2">
            
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm bg-dark text-dark text-white border-0" style="min-width: 18rem;">
                  <img class="card-img" src="{% static 'img/blog/post.png' %}" alt="Card image">
                  <div class="card-img-overlay d-flex flex-column-reverse">
                    <div class="text-white">
                        <span class="category mt-auto price rounded text-white bg-danger pb-1 px-2"><small class="p-2 font-weight-bold">News</small></span>
                        <h4 class="card-title mt-2"><strong><a href="./single-blog.html" class="stretched-link"></a>Looking for a New Place? Use This Time to Create Your Wishlist</a></strong></h4>
                        <p class="card-text">Drake Oyle, Jun 21, 2019</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm bg-dark text-dark text-white border-0" style="min-width: 18rem;">
                  <img class="card-img" src="{% static 'img/blog/image 39.png' %}" alt="Card image">
                  <div class="card-img-overlay d-flex flex-column-reverse">
                    <div class="text-white">
                        <span class="category mt-auto price rounded text-white bg-danger pb-1 px-2"><small class="p-2 font-weight-bold">News</small></span>
                        <h4 class="card-title mt-2"><strong><a href="./single-blog.html" class="stretched-link"></a>Looking for a New Place? Use This Time to Create Your Wishlist</a></strong></h4>
                        <p class="card-text">Drake Oyle, Jun 21, 2019</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm bg-dark text-dark text-white border-0" style="min-width: 18rem;">
                  <img class="card-img" src="{% static 'img/blog/image 38.png' %}" alt="Card image">
                  <div class="card-img-overlay d-flex flex-column-reverse">
                    <div class="text-white">
                        <span class="category mt-auto price rounded text-white bg-danger pb-1 px-2"><small class="p-2 font-weight-bold">News</small></span>
                        <h4 class="card-title mt-2"><strong><a href="./single-blog.html" class="stretched-link"></a>Looking for a New Place? Use This Time to Create Your Wishlist</a></strong></h4>
                        <p class="card-text">Drake Oyle, Jun 21, 2019</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm bg-dark text-dark text-white border-0" style="min-width: 18rem;">
                  <img class="card-img" src="{% static 'img/blog/image 37.png' %}" alt="Card image">
                  <div class="card-img-overlay d-flex flex-column-reverse">
                    <div class="text-white">
                        <span class="category mt-auto price rounded text-white bg-danger pb-1 px-2"><small class="p-2 font-weight-bold">News</small></span>
                        <h4 class="card-title mt-2"><strong><a href="./single-blog.html" class="stretched-link"></a>Looking for a New Place? Use This Time to Create Your Wishlist</a></strong></h4>
                        <p class="card-text">Drake Oyle, Jun 21, 2019</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm bg-dark text-dark text-white border-0" style="min-width: 18rem;">
                  <img class="card-img" src="{% static 'img/blog/image 36.png' %}" alt="Card image">
                  <div class="card-img-overlay d-flex flex-column-reverse">
                    <div class="text-white">
                        <span class="category mt-auto price rounded text-white bg-danger pb-1 px-2"><small class="p-2 font-weight-bold">News</small></span>
                        <h4 class="card-title mt-2"><strong><a href="./single-blog.html" class="stretched-link"></a>Looking for a New Place? Use This Time to Create Your Wishlist</a></strong></h4>
                        <p class="card-text">Drake Oyle, Jun 21, 2019</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm bg-dark text-dark text-white border-0" style="min-width: 18rem;">
                  <img class="card-img" src="{% static 'img/blog/post.png' %}" alt="Card image">
                  <div class="card-img-overlay d-flex flex-column-reverse">
                    <div class="text-white">
                        <span class="category mt-auto price rounded text-white bg-danger pb-1 px-2"><small class="p-2 font-weight-bold">News</small></span>
                        <h4 class="card-title mt-2"><strong><a href="./single-blog.html" class="stretched-link"></a>Looking for a New Place? Use This Time to Create Your Wishlist</a></strong></h4>
                        <p class="card-text">Drake Oyle, Jun 21, 2019</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm bg-dark text-dark text-white border-0" style="min-width: 18rem;">
                  <img class="card-img" src="{% static 'img/blog/post.png' %}" alt="Card image">
                  <div class="card-img-overlay d-flex flex-column-reverse">
                    <div class="text-white">
                        <span class="category mt-auto price rounded text-white bg-danger pb-1 px-2"><small class="p-2 font-weight-bold">News</small></span>
                        <h4 class="card-title mt-2"><strong><a href="./single-blog.html" class="stretched-link"></a>Looking for a New Place? Use This Time to Create Your Wishlist</a></strong></h4>
                        <p class="card-text">Drake Oyle, Jun 21, 2019</p>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm bg-dark text-dark text-white border-0" style="min-width: 18rem;">
                  <img class="card-img" src="{% static 'img/blog/post.png' %}" alt="Card image">
                  <div class="card-img-overlay d-flex flex-column-reverse">
                    <div class="text-white">
                        <span class="category mt-auto price rounded text-white bg-danger pb-1 px-2"><small class="p-2 font-weight-bold">News</small></span>
                        <h4 class="card-title mt-2"><strong><a href="./single-blog.html" class="stretched-link"></a>Looking for a New Place? Use This Time to Create Your Wishlist</a></strong></h4>
                        <p class="card-text">Drake Oyle, Jun 21, 2019</p>
                    </div>
                  </div>
                </div>
            </div>
    
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center mt-5">
            <li class="page-item disabled">
              <a class="page-link rounded" href="#" tabindex="-1" aria-disabled="true">Prev</a>
            </li>
            <li class="page-item active"><a class="page-link rounded" href="#">1</a></li>
            <li class="page-item"><a class="page-link rounded" href="#">2</a></li>
            <li class="page-item"><a class="page-link rounded" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link rounded" href="#">Next</a>
            </li>
          </ul>
        </nav>
    </main>


        
{% include 'partials/footer.html' %}

{% endblock content %}
