<!doctype html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="description" content="Welcome to Westan Homes">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="theme-color" content="#FFFF00">

      {% load static %}

      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="icon" href="{% static 'img/logo.svg' %}" type="image/x-icon">

      {% block extrastyle %}
      {% endblock extrastyle %}
      

      <title> {% block title %} {% endblock title %} - Westan Homes</title>
      
       <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"> 
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZHEBN9F0QH"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZHEBN9F0QH');
    </script>
</head>
<body>
    

    {% block content %}

    {% endblock content %}


      
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/popper.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
   <script src="{% static 'js/utils.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

 <script>
	$(document).on('submit', '#subscribe_form', function(e){
    var form = $(this);
 
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: 'json',
			cache: false,
			success: function(data) {
				if (data.success) {
					swal({
                        title: "Newsletter Subscription!",
                        text: data.success,
                        icon: "success",
                        button: "Done!",
                    }); 
				} else {
					swal({
                        title: "Ooops",
                        text: data.error,
                        icon: "error",
                        button: "Done!",
                    }); 
				}

			document.getElementById("subscribe_form").reset();
	
			},
            error: function() {
                alert('error');
            }
    });
    	return false;


    });
    </script> 
   {% block javascript %}

   {% endblock javascript %}
</body>
</html>