{% extends 'base.html' %}

{% load static humanize %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock extrastyle %}

{% block title %} Marketer Dashboard {% endblock title %}




{% block content %}


<body class="container-fluid">
    <div class="header">
        {% include 'partials/dashboard_navbar.html' %}
    </div>
    <div class="row">
    
        <!-- Sidebar -->
        {% include 'partials/dashboard_sidebar.html' %}
        <!-- Sidebar ends -->

   
        <!-- Main content -->
        <main role="main" class="col-md h-100 overflow-aut p-4">
            <div class="py-5 d-block d-md-none"></div>

            <!-- Heading and Filters -->
            <div class="row mb-4 d-flex align-items-end">
                <h3 class="col font-weight-bold text-center text-md-left mb-4 mb-md-0">Hi {{user.first_name}}</h3>

                    {% include 'partials/alerts.html' %}

                <div class="col-auto d-none d-md-flex align-items-center">
                    <label class="sr-only" for="inlineFormInputGroup">Search</label>
                    <div class="input-group overflow-hidden rounded border">
                        <input type="text" class="form-control border-0" id="inlineFormInputGroup" placeholder="Search">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white border-0">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <a href="../listings.html" class="col-auto btn bg-orange text-white px-4 ml-3">Go to Listings</a>
                </div>

            </div>

            <!-- Dashboard Stats Cards -->
            <div class="stats row">
                <div class="col-md-4">
                    <div class="card border-0 shadow-sm mb-4 widget-flat">
                        <div class="card-body d-flex">
                            <div class="float-left mr-3">
                                <i class="fa fa-cut p-3 rounded-circle blue bg-light-blue" aria-hidden="true"></i>
                            </div>
                            <div class="">
                                <h4 class="mb-0"> {{ num_properties }} Properties</h4>
                                <p class="text-nowrap text-muted mb-0">Sales</p>
                            </div>

                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-md-4">
                    <div class="card border-0 shadow-sm mb-4 widget-flat">
                        <div class="card-body d-flex">
                            <div class="float-left mr-3">
                                <i class="fa fa-money p-3 rounded-circle bg-light-green green bg-light-green"
                                    aria-hidden="true"></i>
                            </div>
                            <div class="">
                                <h4 class="mb-0">$44,765.00</h4>
                                <p class="text-nowrap text-muted mb-0">Total Sales Value</p>
                            </div>

                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->

                <div class="col-md-4">
                    <div class="card border-0 shadow-sm mb-4 widget-flat">
                        <div class="card-body d-flex">
                            <div class="float-left mr-3">
                                <i class="fa fa-credit-card p-3 rounded-circle orange bg-light-red" aria-hidden="true"></i>
                            </div>
                            <div class="">
                                <h4 class="mb-0">$4,365.00</h4>
                                <p class="text-nowrap text-muted mb-0">Commission Earned</p>
                            </div>

                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>

            
            <div class="row">
                <div class="col-md-8">
                    
                    <!-- Monthly Stats -->
                    <div class="card border-0 py-4 shadow-sm mb-4 widget-flat">
                        <!-- Card Header -->
                        <div class="header border-bottom">
                            <div class="d-flex px-3 mb-2">
                                <h5 class="col font-weight-bold text-center text-md-left mb-4 mb-md-0 pt-1">Monthly
                                    Statistics</h5>
                                <div class="col-auto btn-group">
                                    <button type="button" class="btn btn-sm  dropdown-toggle " data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        2019
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <button class="dropdown-item" type="button">Action</button>
                                        <button class="dropdown-item" type="button">Another action</button>
                                        <button class="dropdown-item" type="button">Something else here</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Card Body -->
                        <div class="card-body px-4 d-flex">
                            <canvas id="myChart"></canvas>
                        </div>
                        <!-- Card Footer -->
                        <div class="footer border-top text-center">
                            <div class="d-flex justify-content-around mt-3">
                                <span>
                                    <span>
                                        <span class="px-2 rounded-circle bg-blue"></span>
                                        &nbsp;Sales
                                    </span>
                                    <span class="px-2">
                                        <span class="px-2 rounded-circle bg-green"></span>
                                        &nbsp;Commission
                                    </span>
                                    <span>
                                        <span class="px-2 rounded-circle bg-red"></span>
                                        &nbsp;Sales Value
                                    </span>
                                </span>

                            </div>
                        </div>
                    </div> <!-- end card-->

                    <!-- Trending -->
                    <div class="card border-0 shadow-sm mb-4">
                        <div class="card-body">
                            <h5 class="font-weight-bold mt-2">Top Trending Properties</h5>

                            <div class="table-responsive">
                                <table class="table table-centered nowrap table-hover mb-0 dtr-inline collapsed">
                                    <thead>
                                        <tr class="border-top border-bottom">
                                            <th class="text-muted border-0 py-2 order-0 font-weight-normal">Property
                                            </th>
                                            <th class="text-muted border-0 py-2 font-weight-normal d-none d-md-block">
                                                Details</th>
                                            <th class="text-muted border-0 py-2 font-weight-normal">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for listing in trending_listings %}
                                        <tr>
                                            <td class="border-0 pt-3">
                                                <img src="{{ listing.image.url }}" class="rounded img-responsive mr-2"
                                                    height="30" width="30" alt="">
                                                <a href=" {% url 'listings:single_listing' listing.id listing.slug %}">{{listing.title}} </a>
                                            </td>
                                            <td class="border-0 pt-3 text-muted d-none d-md-block">
                                                {{listing.bedrooms}} Rooms, {{listing.bathrooms}} Baths, {{listing.garage}} Garage, {{listing.area}}m<sup>2</sup>
                                            </td>
                                            <td class="border-0 pt-3 text-primary">
                                                <span>&#8358;</span>{{listing.price|intcomma}}
                                            </td>
                                        </tr>
                                        {% endfor %}


                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive-->
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->

                </div> <!-- end col-->

                <div class="col-md-4 mb-4">
                    <!-- Referrals -->
                    <div class="card border-0 shadow-sm mb-4">
                        <div class="card-body">
                            <h5 class="font-weight-bold mt-2">Referrals</h5>

                            <div class="table-responsive">
                                <table class="table table-centered nowrap table-hover mb-0 dtr-inline collapsed">
                                    <thead>
                                        <tr class="border-top border-bottom">
                                            <th class="text-muted border-0 py-2 font-weight-normal">Referral</th>
                                            <th class="text-muted border-0 py-2 font-weight-normal">Phone</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for referral in referrals %}
                                        <tr>
                                            <td class="border-0">
                                            {% if referral.image %}
                                                <img src="{{ referral.image.url }}"
                                                    class="rounded-circle img-responsive mr-2" height="30" width="30"
                                                    alt="">
                                            {% else %}        
                                                <img src="https://ui-avatars.com/api/?name={{referral.full_name}}"
                                                    class="rounded-circle img-responsive mr-2" height="30" width="30"
                                                    alt="">
                                            {% endif %}        
                                                {{ referral.full_name }}
                                            </td>
                                            <td class="border-0 pt-3 text-muted">
                                                {{ referral.phone }}
                                            </td>
                                        </tr>
                                    {% endfor %}    

                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive-->
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div>
        </main>
    </div>



    <!-- Graphs -->
    <script src="{% static 'js/Chart.min.js' %}"></script>

    <script>
        var ctx = document.getElementById("myChart");
        var barChartData = {
			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
			datasets: [{
				label: 'Sales',
				backgroundColor: '#1943EF',
				data: [ 0, 4, 1, 1, 2, 3, 2 ]
			}, 
            {% comment %} {
				label: 'Commission',
				backgroundColor: '#31bfbf',
				data: [ 17, 21, 9, 3, 4, 7, 12 ]
			}, {
				label: 'Sales Value',
				backgroundColor: '#ff3a29',
				data: [ 7, 9, 13, 11, 9, 13, 7 ]
			} {% endcomment %}
            ]

		};
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            {% comment %} options: {
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
                    },
                        legend: {
                        display: false,
                    },
				} {% endcomment %}
        });
    </script>
</body>

{% endblock content %}