{% extends 'base.html' %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
<style>
  body {
    background-image: none;
  }
  .container > .card {
      border-radius: 10px !important;
  }
  .property-detail {
      background-color: hsla(190, 43%, 95%, 0.9) !important;
      color: #003333;
      border-radius: 10px;
      border: 1px solid hsla(240, 10%, 50%, 0.7) !important;
  }
  .card-body .card-text,
  .card-footer {
      color: #5A6F6F;
  }
  .card-footer {
      font-size: 14px !important;
  }
  form {
    font-size: 14px;
    color: #003333;
  }
  .col-form-label { color: #73738D;}
  form button {background-color: #FC8210 !important;}
</style>
{% endblock extrastyle %}

{% block title %} Confirm Purchase - {% endblock title %}



{% block content %}

{% include 'partials/navbar.html' %}


    <div class="my-1 my-md-4 py-5"></div>


    <div class="text-center mb-5">
        <p class="h1"><strong>Confirm Purchase</strong> </p>
        <p class="h3 col-12 col-md-7 mx-auto text-secondary">Your property is few clicks away. Click on checkout and proceed to payment page.</p>
    </div>

    <div class="container">
        <div class="card shadow-sm mb-3">
            <div class="row no-gutters rounded overflow-hidden">
              <div class="col-md-8 overflow-hidden">
                <img src="{% static 'img/blog/post-big.png' %}" class="card-img rounded-0 h-100" alt="...">
                <div class="card-img-overlay px-4 px-md-5 d-flex flex-col-reverse">
                    <div class="property-detail rounded bg-secondary w-100 mt-auto border">
                        <h5 class="price rounded text-white float-right bg-secondary px-3 py-2 mt-4 mr-4 d-none d-md-block">$78,096</h5>
                        <div class="card-body ml-3">
                            <h4 class="card-title p-0 mb-0"><strong>El Classico Mansion</strong></h4>
                            <p class="card-text text-secondary d-none d-md-block">
                                <img src="{% static 'img/location.svg' %}" alt="">
                                Palm Royal Estate, Off Ibeju-Lekki, Ikeja, Lagos State.
                            </p>
                          </div>
                        
                        <div class="card-footer d-none d-md-block">
                            <div class="mb-0 ">
                              <span class="ml-3">10 Rooms</span>
                              <span class="ml-3">5 Baths</span>
                              <span class="ml-3">7 Bathrooms</span>
                              <span class="ml-3">678m<sup>2</sup></span>
                            </div>
                          </div>
                    </div>
                    
                  </div>
              </div>
              <div class="col-md-4">
                <div class="card-body p-4 p-md-5">
                    <h4 class="card-title font-weight-bold text-center mb-4">Amount to Pay Now</h4>
                    <form>
                        <div class="form-group row">
                            <label for="price" class="col-6 col-form-label">Price (#)</label>
                            <h5 class="col-6 pb-1">15,000,000</h5>
                        </div>
                        <div class="form-group row">
                          <label for="discount-code" class="col-6 col-form-label">Discount Code</label>
                          <div class="col-6">
                            <input type="email" class="form-control" id="discount-code" placeholder="XPR-4567-A" >
                          </div>
                        </div>
                        <div class="form-group row">
                            <label for="Discount" class="col-6 col-form-label">Discount</label>
                            <div class="col-6">
                              <h5 class="card-title">750,000</h5>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="price" class="col-6 col-form-label">Amount Payable</label>
                            <div class="col-6">
                              <h5 class="card-title">14,250,000</h5>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="amount-pay-now" class="col-6 col-form-label">Amount to Pay Now</label>
                            <div class="col-6">
                              <input type="text" class="form-control" id="amount-pay-now" placeholder="1,750,000" required>
                            </div>
                          </div>
                        <button type="submit" class="btn btn-primary w-100 border-0">Checkout</button>
                        
                      </form>
                </div>
              </div>
            </div>
          </div>
    </div>
 
      <div class="py-5"></div>

      
  

{% endblock content %}