{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock extrastyle %}

{% block title %} Property Invoice {% endblock title %}




{% block content %}


   
<body class="container-fluid">
    <div class="header">
        <!-- Navbar -->
       {% include 'partials/dashboard_navbar.html' %}
    </div>
    <div class="row">
        <!-- Sidebar -->

        {% include 'partials/dashboard_sidebar.html' %}

        <!-- Sidebar ends -->

        <!-- Main content -->
        <main role="main" class="col-md h-100 overflow-aut p-4">
            <div class="py-5 d-block d-md-none"></div>

            <!-- Heading and Filters -->
            <div class="row mb-4 d-flex align-items-end d-print-none">
                <h3 class="col font-weight-bold text-center text-md-left mb-4 mb-md-0">Property Invoice</h3>
                <div class="col-auto d-md-flex align-items-center">
                    <a href="{% url 'listings:dashboard_client_properties' %}" class="col-auto btn orange border-orange bg-white px-4 ml-3">Back to Properties</a>
                    <a href="javascript:window.print()" class="col-auto btn bg-orange text-white px-4 ml-3">Print</a>
                </div>

            </div>


            <div class="row mb-5">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body p-2 p-md-5">

                            <!-- Invoice Logo-->
                            <div class="clearfix position-relative">
                                <div class="float-left position-absolute mb-3 d-none d-md-block">
                                    <img src="{% static 'img/logo.svg' %}" alt="" height="40">
                                </div>
                                <div class="text-center pt-3 pt-md-0">
                                    <h2 class="m-0 pb-2 d-print-none font-weight-bold">Westan Investments & Innovations Limited (RC 1714571)</h2>
                                    <address>80, Aina street, Ojodu-Berger, Lagos state.
                                        <br>
                                        <span>Email: westanhomesng@gmail.com</span>
                                    </address>
                                </div>
                            </div>

                            <!-- Invoice Detail-->
                            <div class="row mt-4 mt-md-5">
                                <div class="col-sm-4">
                                    <h6>Client</h6>
                                    <address>
                                        {{user.full_name}} <br>
                                        {{user.address}} <br>
                                        <span> {{user.phone}} </span>
                                    </address>
                                </div> <!-- end col-->

                                <div class="col-sm-4 order-sm-0 text-center pt-auto">
                                    <h4>Sales Reciept</h4>
                                </div> <!-- end col-->

                                <div class="col-sm-4">
                                    <div class="float-sm-right">
                                        <p class="font-13 mb-0">Transaction reference</p>
                                        <p class="h4">{{ last_trans.reference }}</p>
                                        <p class="font-13">{{last_trans.created_at}} </p>
                                    </div>
                                </div><!-- end col -->
                            </div>    
                            <!-- end row -->        

                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table mt-4">
                                            <thead>
                                            <tr><th>Item</th>
                                                <th>Description</th>
                                                <th>Price</th>
                                                <th>Last Payment</th>
                                                <th class="text-right">Total Payments</th>
                                            </tr></thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                    {{listing.title}} <br/>
                                                    {{ listing.get_address }}
                                                </td>
                                                <td> <span>&#8358;</span>{{listing.price|intcomma}} </td>
                                                <td><span>&#8358;</span>{{last_trans.amount_paid|intcomma}} </td>
                                                <td class="text-right"><span>&#8358;</span>{{sum_paid|intcomma}} </td>
                                            </tr>
                                         
                                            </tbody>
                                        </table>
                                    </div> <!-- end table-responsive-->
                                </div> <!-- end col -->
                            </div>
                            <!-- end row -->

                            <div class="row">
                                <div class="col-sm-6">
                                </div> <!-- end col -->
                                <div class="col-sm-6">
                                    <div class="float-right mt-3 mt-sm-0">
                                        <p><b>Balance: </b> <span class="float-right"> <span>&#8358;</span> {{balance|intcomma}}</span></p>
                                        <p><b>Paid:</b> <span class="float-right ml-1"> <span>&#8358;</span>{{last_trans.amount_paid|intcomma}}</span></p>
                                        {% comment %} <h3><span>&#8358;</span>{{sum_paid|intcomma}}</h3> {% endcomment %}
                                    </div>
                                    <div class="clearfix"></div>
                                </div> <!-- end col -->
                            </div>
                            <!-- end row-->

                            <!-- end buttons -->

                        </div> <!-- end card-body-->
                    </div> <!-- end card -->
                </div> <!-- end col-->
            </div>
            <!-- end row -->




            
            
        </main>
    </div>

</body>

  {% endblock content %}